APP_PORT=

MONGO_URL=

SECRET_KEY=
EXPIRE_TIME=

REFRESH_TOKEN_SECRET_KEY = 
REFRESH_TOKEN_EXPIRE_TIME=

# GMAIL

GOOGLE_APP_PASSWORD = `
GOOGLE_ACCOUNT_USER = `

# SIGN URL 

SIGN_URL_SECRET =

# BASE URL

BASE_URL =

# cookie

COOKIE_SECRET_KEY = 